<div style="padding: 50px 150px;">
  <a href="/">back</a>  
  <form action="/restaurants/{{ item._id }}/edit" method="POST" class="row g-3 ">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{ item.name }}"required>
    </div>

    <div class="form-group">
      <label for="name_en">name_en</label>
      <input type="text" class="form-control"  name="name_en" id="name_en" placeholder="Enter name in english" value="{{ item.name_en }}"required>
    </div>  

    <div class="form-group">
      <label for="category">category</label>
        <select  class="form-select" name="category" id="category" value="{{ item.category }}" required>
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>美式</option>
          <option>酒吧</option>
          <option>咖啡</option>
        </select>
    </div>

    <div class="form-group">
      <label for="image">image</label>
      <input type="url" class="form-control"  name="image" id="image" placeholder="Enter image URL" value="{{ item.image }}" required>
    </div>
  
    <div class="form-group">
      <label for="location">location</label>
      <input type="text" class="form-control" name="location"  id="location" placeholder="Enter location" value="{{ item.location }}" required>
    </div>
    
    <div class="form-group">
      <label for="phone">phone</label>
      <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter phone number" value="{{ item.phone }}" required>
    </div>

    <div class="form-group">
      <label for="google_map">google_map</label>
      <input type="url" class="form-control"  name="google_map" id="google_map" placeholder="Enter google_map URL" value="{{ item.google_map }}" required>
    </div>

    <div class="form-group">
      <label for="rating">rating</label>
      <input type="number" step="0.1" class="form-control" name="rating" id="rating" placeholder="Enter rating" value="{{ item.rating }}" required>
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control"  name="description" id="description" placeholder="Enter description" value="{{ item.description }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>